<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="private.config">
    <add key="workingFolder" value="C:\Users\Oscar\Desktop\Tmp\Aggregation"/>
    <add key="ml.endpoint.request" value="https://ussouthcentral.services.azureml.net/workspaces/c5e7f8a3995a4d73a8e2ace04caf19d2/services/0421546ef09347f58c8b5c21becb4b14/execute?api-version=2.0&details=true"/>
    <add key="ml.request.columns" value="Map_ElementTextNotFound,Map_IsAnchorOnLeft,Map_IsResultTagged,Map_RelativeOffsetX,Map_RelativeOffsetY,Map_IsTopHalf,Map_Quadrant,Map_HorizontalThird,Map_HorizontalQuadrant,Map_HorizontalSixth,Map_HorizontalEight,Map_VerticalThird,Map_VerticalQuadrant,Map_VerticalSixth,Map_VerticalEight,Map_RelativeWidth,Map_RelativeHeight,Map_Anchor_Text,Map_Anchor_IsTopHalf,Map_Anchor_Quadrant,Map_Anchor_HorizontalThird,Map_Anchor_HorizontalQuadrant,Map_Anchor_HorizontalSixth,Map_Anchor_HorizontalEight,Map_Anchor_VerticalThird,Map_Anchor_VerticalQuadrant,Map_Anchor_VerticalSixth,Map_Anchor_VerticalEight,Map_Result_IsTopHalf,Map_Result_Quadrant,Map_Result_HorizontalThird,Map_Result_HorizontalQuadrant,Map_Result_HorizontalSixth,Map_Result_HorizontalEight,Map_Result_VerticalThird,Map_Result_VerticalQuadrant,Map_Result_VerticalSixth,Map_Result_VerticalEight,Map_Result_HasNumber,Map_Result_HasCode,Map_Result_HasDate,Map_Result_HasAmount"/>
    <add key="ml.input_name" value="invoice_set"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>