
<appSettings>
  <add key="azure.vision.key" value="c82cc0ab5abc4b2cb120651e53a8e30d"/>
  <add key="azure.vision.ml.token" value="C9Dk8JXIBRWSHPuOlKuKmUnm7CRrRkAkb3Jw5CIAnIC18sqc2iwcBqY0Ft6oNksTVJxTzKCJbCHn7hfUB52/XQ=="/>
  <add key="google.vision.key" value="AIzaSyBMm8lx8n_YJ-KAGo10fSnhhaaJziYr6V8"/>
</appSettings>

