<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="azure.vision.key" value="c82cc0ab5abc4b2cb120651e53a8e30d" />
    <add key="google.vision.key" value="AIzaSyBMm8lx8n_YJ-KAGo10fSnhhaaJziYr6V8" />
    <add key="azure.service.blob.storage.key" value="DefaultEndpointsProtocol=https;AccountName=celeris;AccountKey=j7vl/agGGRqODoNcnvi/s075X21PT6IkYrqo/+EtbRn5cwkBMG7NI6DvPYiKG4DPZO399YAdUhpXGCHtg0aZZA==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>