<div id="documents-view">
  <div class="container-fluid">
<!--    <main> -->
      <div class="row">
        <div id="main-header">
          <div class="col-md-4 col-md-offset-4">
            <img ng-src="../../img/logo.png" class="logo" />
          </div>
          <div class="col-md-4">
            <button id="show-menu" ng-click="vm.openDocumentModal()"></button>
          </div>
        </div>
      </div>
      <div class="row">
        <header>
          <div class="subheader">
            <div class="headinfo">
              <h2 class="list-title">All Documents</h2>
              <div class="expense-actions">
                <div class="add-expense" ng-if="!vm.loading">
                  <div class="dropdown" uib-dropdown>
                    <div uib-dropdown-toggle class="button dropdown-toggle" data-toggle="dropdown">Upload Document
                      <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                      <li ng-repeat="profile in vm.profilesName">
                        <a tabindex="-1" ngf-select="vm.uploadFile($files, profile)">{{profile}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
      <div class="row text-center" ng-if="vm.loading">
        <span us-spinner></span>
      </div>
      <div class="row" ng-if="!vm.loading">
        <div class="col-md-12">
          <div ng-if="!vm.documents" class="text-center">
            <h3 class="text-danger">No documents are available</h3>
          </div>
          <div class="table-responsive">
            <table class="table table-hover" ng-if="vm.documents">
              <thead>
                <tr>
                  <th>Processing Date</th>
                  <th>Profile Type</th>
                  <th></th> <!-- view result -->
                  <th></th> <!-- download -->
                  <th></th> <!-- view json -->
                </tr>
              </thead>
              <tbody ng-repeat="document in vm.documents">
                <tr>
                  <th>
                    {{document.Result.UtcTimestamp | date : 'MM/dd/yy HH:mm'}}
                  </th>
                  <th>
                    {{document.ProfileName}}
                  </th>
                  <th>
                    <button type="button" class="btn btn-primary" ng-click="vm.showDocument(document)">View Result</button>
                  <th>
                    <button type="button" class="btn btn-primary" ng-click="vm.downloadImage(document.FileData)">Download</button>
                  </th>
                  <th>
                    <button type="button" class="btn btn-primary" ng-click="vm.viewJSON(document.Id)">View JSON</button>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <!--</main>-->
  </div>
</div>
