#check-receipts-view {
  #main-header {
    width: 100%;
    text-align: center;
    height: 90px;
  }
  #main-header > .col-md-4 > button, 
  #main-header > .col-md-4 > a {
    padding: 12px;
    margin: 8px;
    text-decoration: none;
    position: absolute;
    top: 0;
    cursor: pointer;
    height: 72px;
    width: 72px;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: .218s ease;
    transition: .218s ease;
  }
  #go-back, 
  #close-this {
    left: 0;
  }
  #close-this:before {
    content: "\f00d";
    font-family: fontawesome;
    font-size: 2em;
    color: #706f73;
  }
	.logo {
    width: 13em;
    margin-top: 3%;
  }
  main.done {
    height: calc(100vh - 90px);
    overflow: auto;
  }
  main {
    width: 100%;
    max-width: 1600px;
    min-height: 0;
    background: none;
    display: block;
    z-index: 10;
    margin: 0 auto;
    box-shadow: 0px 2px 5px rgba(0,0,0,.5);
    transition: height .400s ease;
    &:before, 
    &:after {
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
    }
  }
  #document-container {
    top: 22px; 
    left: 124px; 
    transform: rotate(0deg) scale(1);
  }
  .gutter {
    position: relative;
    height: 80vh;
    float: left;
    cursor: w-resize;
  }
  button {
    cursor: pointer;
  }
  #image {
    overflow: hidden;
  }
  aside {
    height: 100%;
    float: left;
    position: relative;
    box-shadow: -2px 2px 16px rgba(0,0,0,.2);
  }
  #image > div {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    box-shadow: inset 0px -2px 6px rgba(0,0,0,.2);
  }
  #share-button {
    background-image: url(../../img/share.png);
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    left: 52px;

    &:hover {
      opacity: 1;
      filter: alpha(opacity=100);
    }
  }
  #hd-button {
    background-image: url(../../img/popout.png);
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    left: 0;

    &:hover {
      opacity: 1;
      filter: alpha(opacity=100);
    }
  }
  #share-button, #hd-button {
    width: 40px;
    height: 40px;
    margin: 6px;
    position: absolute;
    top: 0;
    z-index: 3;
    opacity: .6;
    filter: alpha(opacity=60);
    -webkit-transition: .218s ease;
    transition: .218s ease;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
  }
  #image footer {
    background: #3f51b5;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  article, 
  aside, 
  footer, 
  header, 
  hgroup, 
  main, 
  nav, 
  section {
    display: block;
  }
  #image footer div.active {
    display: block;
  }
  #image footer div {
    width: 100%;
    display: none;
    text-align: center;
    position: relative;
  }
  #control-toggle button {
    width: 50%;
    padding: 24px;
  }
  #control-toggle button:hover {
    background: #3949ab;
  }
  #control-toggle button {
    width: 50%;
    padding: 24px;
  }
  #rotate-controls, 
  #zoom-controls {
    border-top: 6px solid #536dfe;
  }
  #image footer div .slider {
    position: absolute;
    top: 0;
    width: 32px;
    height: 32px;
    margin-top: -20px;
    margin-left: -16px;
    background: #536dfe;
    border-radius: 50%;
    z-index: 5;
    box-shadow: 0px 2px 6px rgba(0,0,0,.3);
    cursor: w-resize;
  }
  .slider {
    left: 50%;
  }
  #rotate-controls > *, 
  #zoom-controls > * {
    width: 33.3%;
    display: inline-block;
    vertical-align: middle;
    padding: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  #image footer div .show-value {
      font-size: 2em;
      font-weight: 700;
  }
  footer button {
    font-size: .9em;
    text-transform: uppercase;
    color: #fff;
    padding: 12px;
    position: relative;
    -webkit-transition: .218s ease;
    transition: .218s ease;
  }
  input, button, select, option {
    background: none;
    border: none;
    border-radius: 0;
    font-family: Lato, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    padding: 0;
    color: inherit;
  }
  #editor {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: calc(100% - 75px);
    background-color: #e0e0e0;
    box-shadow: inset 0px 2px 6px rgba(0,0,0,.2);
    text-align: center;
  }
}
