<div id="check-document-view">
  <div class="container">
    <div class="row">
      <div id="main-header">
        <div class="col-md-4">
          <button id="close-this" ng-click="vm.backToDocuments()"></button>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <img ng-src="../../img/logo.png" class="logo" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container-fluid">
        <main class="done">
          <aside id="image" style="width: calc(50% - 5px);">
            <div>
              <div id="document-container">	
                <img id="invoice-image" src="data:image/jpg;base64,{{vm.imageSrc}}" />
              </div>
            </div>
            <footer>
              <div id="control-toggle" class="active" ng-if="vm.imageSrc">
                <button ng-click="vm.downloadImage(vm.imageSrc)">Download Document</button>
              </div>
            </footer>
          </aside>
          <div class="gutter"></div>
          <aside id="data" style="width: calc(50% - 5px);">
            <header>
              <section>
                <div style="background-image: url(&quot;http://i.imgur.com/G18NbfO.png&quot;);">
                </div>
              </section>
            </header>
            <div id="editor">
              <p id="guidDisplay" ng-if="vm.metadata">
                Document ID:{{vm.metadata.Result.Id}}
              </p>
              <section id="primaryInformation">
                <h2 class="hidden">Primary Information</h2>
                <div class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                      <a class="cursor-pointer" data-toggle="collapse" data-target="#collapse1">Document Information</a>
                      </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                      <div class="panel-body" ng-if="!vm.primaryData">
                        <h3 class="text-danger">Don't exist have document data</h3>
                      </div>
                      <div class="panel-body" ng-if="vm.primaryData" ng-repeat="metadata in vm.primaryData">
                        <div class="row">
                          <div class="col-md-6">
                            {{ metadata.Map.attributeName }}
                          </div>
                          <div class="col-md-6">
                            {{ metadata.Value }}
                          </div>
                        </div> 
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <footer>
              <div id="control-toggle" class="active" ng-if="vm.imageSrc">
                <button ng-click="vm.openDocumentViewer()">View Json</button>
              </div>
            </footer>
          </aside>
        </main>
      </div>
    </div>
  </div>
</div>
