<div id="metrics-view">
  <div class="container">
    <div class="row">
      <div id="main-header">
        <div class="col-md-4">
          <button id="close-this" ng-click="vm.backToDocuments()"></button>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <img ng-src="../../img/logo.png" class="logo" />
        </div>
      </div>
      <div>
        <div id="date">
          <label> Year:
            <input type="number" name="input" ng-model="vm.year"
            min="2017" required>
          </label>
          <label> Month:
            <select ng-model="vm.month" required>
              <option ng-repeat="option in vm.months" value="{{option.id}}">{{option.name}}</option>
            </select>
          </label>
          <button ng-disabled="vm.loading" type="button" class="btn btn-default" ng-click="vm.setDate()">Load</button>
        </div>
        <div ng-if="vm.loading">
          <span us-spinner></span>
        </div>
        <div google-chart ng-if="vm.chart.data" chart="vm.chart" style="height:600px; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>
